body {
  margin: 0;
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  min-height: 100vh;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.task-area {
  margin-top: 2em;
  border: 1px solid lightgray;
}

.tab-list {
  position: relative;
  display: flex;
  border-bottom: 1px solid lightgray;
}

.tab-item {
  padding: 1em;
  cursor: pointer;
}

.underline {
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 4px;
  background-color: pink;
  transition: .4s;
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}

.task p {
  margin: 0;
}

.task-done {
  text-decoration: line-through;
}